{{define "page"}}
<form action="/admin/cat_submit.html" method="POST">
	<label for="name">Catergory name:</label>
	<input type="text" name="name" /><br />
	<input type="submit" name="submit" value="Add" />
</form> 
{{end}}
