{{define "page"}}
<form action="/admin/post_submit.html" method="POST">
	<div class="form_settings">
		<p>
			<span><label for="title">Title:</label></span>
			<input class="contact" type="text" name="title" />
		</p>
		<p>
			<span><label for="description">Description:</label></span>
			<input class="contact" type="text" name="description" />
		</p>
		<div style="padding: 10px 0 10px 0;">
			<textarea rows="8" cols="50" id="content_area" name="content"></textarea>
		</div>
		<p>
			<span><label for="catid">Catergory:</label></span>
			<select id="catid" name="catid">
{{range .Cats}}
				<optgroup label="{{.Root.Name}}">
				{{template "catoptlst.tmpl" .}}
				</optgroup>
{{end}}
			</select>
		</p>
		<p>
			<span><label>Tags:</label></span>
			<input type="text" name="tags" />
		</p>
		<p style="padding-top: 15px">
			<span>&nbsp;</span>
			<input class="submit" type="submit" name="submit" value="submit">
		</p>
	</div>
</form>
<link rel="stylesheet" href="/statics/css/sceditor.default.css" />
<script src="/statics/js/jquery.sceditor.bbcode.min.js"></script>
<script>
$("#content_area").sceditor({
	width: 511,
	height: 300,
	plugins: 'bbcode',
	emoticonsRoot: '/statics/images/',
	style: "/statics/css/jquery.sceditor.default.min.css"
});
</script>
{{end}}
