{{define "page"}}
<h4>
{{range .CatString}}
	<a href="/view/catlst.html?id={{.CatId.Hex}}">{{.Name}}</a> >>
{{end}}
</h4>
<article>
	<h1>{{.Entry.Title}}</h1>
	<p>{{.Entry.Description}}</p>
	<hr>
	<p id="content_display">{{.Entry.Content}}</p>
</article>
<script src="/statics/js/jquery.sceditor.bbcode.min.js"></script>
<script>
parser = new $.sceditor.BBCodeParser($.sceditor.BBCodeParser.defaults);
$("#content_display").html(parser.toHTML($("#content_display").text()));
</script>
{{end}}